[Unit]
Description=Monitor hotplug

[Service]
Type=simple
RemainAfterExit=no
User=jramapuram
ExecStart=/usr/local/bin/hotplug_monitor.sh

[Install]
WantedBy=multi-user.target